* {
    border: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #292929;
    color: #D8DFE0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
main {
    display: block;
    margin: 0 auto;
    max-width: 1330px;
    width: 100%;
}
h1 {
    border-bottom: 1px solid #393939;
    color: #D8DFE0;
    padding: 20px;
    text-align: center;
}
h3 {
    color: #D8DFE0;
    font-size: 24px;
    margin-bottom: 16px;
}
a{
    color: #1992F6;
    text-decoration: none;
}

